<h1>Stupid Coaching</h1>
<div class="question">
  <p class="quote"><%= @question %></p>
  <p class="signature">-You</p>
</div>
<div class="answer">
	<p class="quote"><%= @answer %></p>
	<p class="signature">-Your coach</p>
</div>

<%= link_to 'Ask a new question', '/ask', class: 'link'%>